body, * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-wrapper {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ffc01998810113.5ee489ff2ead6.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav #main_menu {
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav #main_menu a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-weight: bold;
    background-color: silver;
    border-radius: 3px;
}
.header h1 {
    width: 45%;
    line-height: 45px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.header .more {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background-color: silver;
    border-radius: 3px;
}
.main-wrapper {
    padding: 30px 0px;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}
.main h2 {
    text-align: center;
    margin-bottom:20px;
}
.main .items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

} 
.items .item {
    flex-basis: 80%;
    background-color: rgb(224, 224, 224);
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    
}
.item a {
    align-self: flex-start;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(122, 122, 122);
    border-radius: 3px;
}

.footer-wrapper {
    background-color: black;
    padding: 30px 0px;
}
.footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer p {
    color: white;
}
.footer label {
    color: white;
}
.footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer input[type="email"] {
    border-radius: 4px;
    padding: 5px;
}
.footer input[type="submit"] {
    background-color: silver;
    color: silver;
    padding: 5px;
    align-self: flex-start;
    border-radius: 4px;
}

.header-wrapper #toggle  {
    display: none;
}

.header-wrapper #mobile_menu {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 20px;
    border-left:2px solid #aaa ;
    transition: 0.5s;
    transform-origin: right;
}
.header-wrapper #mobile_menu a {
    color:black;
}

@media screen and (min-width:720px) {
    .main .item {
        flex-basis: 350px;
    }    
}

@media screen and (max-width:1200px) {
    .header .nav, .footer {
        padding: 0 20px ;
    }
}
 
@media screen and (min-width:576px) {
    .header-wrapper #mobile_menu {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .header-wrapper #main_menu {
        display: none;
    }

    .header-wrapper #mobile_menu:not(:target) {
        /* display: none; */
        transform: scaleX(0);
    }

    .header-wrapper #toggle  {
        display: block;
    }

    .header-wrapper #mobile_menu:target {
        /* display: block; */
        transform: scaleX(1);
    }

    .header h1 {
        width: 80%;
        font-size: 24px;
    }
}

@media screen and (max-width:450px) {
    .footer {
        flex-direction: column;
    }
    .footer {
        text-align: center;
    }
    .footer form input[type="submit"]{
        align-self: center;
    }
}


